/***** NAVBAR *****/
.navbar-default {
  background-color: #863ee3;
  border-radius: 0;
  background-image: none;
}

/* Navbar title */
.navbar-default .navbar-brand {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ebd122;
}

/*** Portfolio pieces ***/
.portfolio-thumbnail {
  background-color: #fff;
  border-color: #863ee3;
  border-width: 2px;
  width: 95%;
}

.portfolio-thumbnail:hover {
  border-color: #ebd122;
}

.portfolio-title {
  font-weight: bold;
}

.portfolio-description {
}

.portfolio-image {
}

#about-world {
  max-height: 200px;
}

.resume h3 {
  font-weight: bold;
}

hr {
  border-color: white;
  border-width: 2px;
}

p {
  font-size: 15px;
}

a {
  color: #863ee3;
}

a:hover {
  color: #ebd122;
}

.jumbotron {
  background-image: url("../assets/contour-lines.png");
  text-align: center;
  color: #fff;
  padding: 2%;
}

.jumbotron h2 {
  font-size: 36px;
  font-weight: bold;
}

body {
  padding-top: 50px;
  font-family: 'Georgia', serif;
  background-color: #f7f1fa;
  color: #242424;
}
body {
  padding-top: 0px;
  font-family: 'Lato', serif;
  background-color: #B0E0E6;
  color: #242424;
}

.bg-primary {
  background-color: #80A1A6 !important;
}

.navMenu{
  overflow:hidden;background-color:#6fb8b8
}
.navMenu a{
  float:left;
  display:block;
  color:#f2f2f2;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
  font-size:17px
}
.navMenu a.active{
  background-color:#25a186;
  color:#FFF
}
.navMenu .icon{
  display:none
}
.fa-bars:before{
  content:"\f0c9"
}
.navMenu .dropdown{
  float:left;
  overflow:hidden
}.navMenu .dropdown .dropbtn{
   font-size:16px;
   border:none;
   outline:none;
   color:#FFFFFF;
   padding:14px 16px;
   background-color:#205555;
   font-family:inherit;
   margin:0;
   width:100%;
   text-align:left
 }
.main_links{
  background-color:#205555;
  color:#FFFFFF;
  line-height:1
}
.main_links:hover{
  background-color:#0a7280;
  color:#FFFFFF
}
.navMenu .navbar a:hover,.navMenu .dropdown:hover .dropbtn{
  background-color:#0a7280;
  color:#FFFFFF
}
.navMenu .dropdown-content{
  display:none;
  position:absolute;
  background-color:#000;
  min-width:160px;
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
  z-index:1
}
.navMenu .dropdown-content a{
  float:none;
  color:#FFF;
  padding:12px 16px;
  text-decoration:none;
  display:block;
  text-align:left;
  background-color:#808040;
  color:#000000
}
.navMenu .dropdown-content a:hover{
  background-color:#333;
  color:#FFFFFF
}
.navMenu .dropdown:hover .dropdown-content{
  display:block
}
@media screen and (max-width: 768px){
  .navMenu a:not(:first-child){
    display:none
  }
  .navMenu .dropdown{
    display:none
  }
  .navMenu a.icon{
    float:right;
    display:block
  }
  .navMenu.mobileView{
    position:relative
  }
  .navMenu.mobileView .icon{
    position:absolute;
    right:0;top:0
  }
  .navMenu.mobileView a{
    float:none;
    display:block;
    text-align:left
  }
  .navMenu.mobileView .dropdown{
    float:none;
    display:block;
    text-align:left
  }
  .navMenu .dropdown-content{
       position:relative
  }
}

